.card{
    display:flex;
    gap:1rem;
}

.iconImage{
    width:2rem;
    height:2rem;
}

.txt{
    letter-spacing: -0.1rem;
    transform: scaleY(1.2);
}

.para{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}