.card {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  border: 0.01rem solid #6093c1;
  width: 32vw;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 12px;
  gap: 3rem;
  background-color: white;
  box-shadow: 6px 5px 11px darkgrey;
  margin-right: 0rem;
  height:12rem;
  margin-left: 2rem;
  padding:2rem;
}

.primaryCard,
.secondaryCard {
  display: flex;
  gap:8.5rem
}
