.Maingraph{

        margin: 5rem 1rem 5rem 0rem;
        border: 0.01rem solid #6093c1;
        width: 57vw;
        padding: 1rem 1rem;
        border-radius: 12px;
        background-color: white;
        box-shadow: 6px 5px 11px darkgrey;
      
 
}